Button:hover,
Button:active {
  box-shadow: 'none';
  background-color: darken($color, 20%);
}
// '&:hover': {
//   backgroundColor: '#0069d9',
//   borderColor: '#0062cc',
//   boxShadow: 'none',
// },
// '&:active': {
//   boxShadow: 'none',
//   backgroundColor: '#0062cc',
//   borderColor: '#005cbf',
// },
// '&:focus': {
//   boxShadow: '0 0 0 0.2rem rgba(0,123,255,.5)',
// },
